beautifulsoup4
feedparser
hitherdither @ git+https://www.github.com/hbldh/hitherdither
irc
jaraco.util
audioread
mutagen
numpy
opencv_python
geopy
# youtube-dl
# pafy @ git+https://github.com/Cupcakus/pafy
Pillow>=8.0.0
python_weather>=2.0.0
requests>=2.26.0
streamlink
tinydb
wikipedia
Wikipedia_API<=0.6.0
crc
lhafile
scikit-image
pyradios
validators
yt_dlp
ymodem