beautifulsoup4
feedparser
hitherdither @ git+https://www.github.com/hbldh/hitherdither
irc
jaraco.util
audioread
d64
mutagen
numpy
opencv_python
geopy
jinja2>=3.0.0
# youtube-dl
# pafy @ git+https://github.com/Cupcakus/pafy
Pillow>=8.0.0
python_weather>=2.0.0
requests>=2.26.0
streamlink>=5.5.0
tinydb
wikipedia
Wikipedia_API<=0.6.0
crc
lhafile
scikit-image
pyradios
validators
yt_dlp
ymodem
xmltodict
Hershey-Fonts
openmeteo-requests
requests-cache
retry-requests