{# Oneliner Title template #}
<CLR><RVSOFF>
{# Generic Commodore color PETSCII #}
{% if 'PET' in mode %}
<LOWER>
<GREY1><LL-QUAD><LL-QUAD><GREY2><LL-QUAD><LL-QUAD><GREY3><LL-QUAD><LL-QUAD><WHITE><LL-QUAD><CYAN><RVSON><UL-QUAD> <UR-QUAD><RVSOFF> <RVSON><UL-QUAD><RVSOFF> <RVSON> <RVSOFF> <RVSON><UL-QUAD><B-HALF><RVSOFF> <RVSON><UL-QUAD><RVSOFF>  <RVSON><UL-QUAD><RVSOFF> <RVSON><UL-QUAD><RVSOFF> <RVSON> <RVSOFF> <RVSON><UL-QUAD><B-HALF><RVSOFF> <RVSON><UL-QUAD><B-HALF><UR-QUAD><WHITE><RVSOFF><LR-QUAD><GREY3><LR-QUAD><LR-QUAD><GREY2><LR-QUAD><LR-QUAD><GREY1><LR-QUAD><LR-QUAD>
<LL-QUAD><LL-QUAD><GREY2><LL-QUAD><LL-QUAD><GREY3><LL-QUAD><LL-QUAD><WHITE><LL-QUAD><LTBLUE><RVSON> <RVSOFF> <RVSON> <RVSOFF> <RVSON> <RVSOFF><UL-LR-QUAD><RVSON> <RVSOFF> <RVSON> <B-HALF><RVSOFF> <RVSON> <RVSOFF>  <RVSON> <RVSOFF> <RVSON> <RVSOFF><UL-LR-QUAD><RVSON> <RVSOFF> <RVSON> <B-HALF><RVSOFF> <RVSON> <RVSOFF><B-HALF><RVSON><LR-QUAD><WHITE><RVSOFF><LR-QUAD><GREY3><LR-QUAD><LR-QUAD><GREY2><LR-QUAD><LR-QUAD><GREY1><LR-QUAD><LR-QUAD>
<BLUE>       <RVSON><LL-QUAD> <LR-QUAD><RVSOFF> <RVSON> <RVSOFF> <RVSON><LR-QUAD><RVSOFF> <RVSON> <LR-QUAD><RVSOFF> <RVSON> <LR-QUAD><RVSOFF> <RVSON><LR-QUAD><RVSOFF> <RVSON> <RVSOFF> <RVSON><LR-QUAD><RVSOFF> <RVSON> <LR-QUAD><RVSOFF> <RVSON> <RVSOFF> <RVSON> <WHITE><RVSOFF> <BR>
{% elif 'MSX1' in mode %}
<GREY><LL-QUAD><LL-QUAD><WHITE><LL-QUAD><BLACK><PAPER c=7><UL-QUAD> <UR-QUAD><BLOCK><UL-QUAD><WHITE><PAPER c=1> <BLACK><PAPER c=7> <BLOCK><UL-QUAD><B-HALF><BLOCK><UL-QUAD><BLOCK><BLOCK><UL-QUAD><BLOCK><UL-QUAD><BLOCK> <BLOCK><UL-QUAD><B-HALF><BLOCK><UL-QUAD><B-HALF><UR-QUAD><WHITE><PAPER c=1><LR-QUAD><GREY><LR-QUAD><LR-QUAD>
<LL-QUAD><LL-QUAD><WHITE><LL-QUAD><BLACK><PAPER c=5> <BLOCK> <BLOCK> <CHR c=199> <BLOCK> <B-HALF><BLOCK> <BLOCK><BLOCK> <BLOCK> <CHR c=199> <BLOCK> <B-HALF><BLOCK> <U-HALF><LR-QUAD><WHITE><PAPER c=1><LR-QUAD><GREY><LR-QUAD><LR-QUAD>
<BLACK><PAPER c=4><BLOCK><BLOCK><BLOCK><LL-QUAD> <LR-QUAD><BLOCK> <BLOCK><LR-QUAD><BLOCK> <LR-QUAD><BLOCK> <LR-QUAD><BLOCK><LR-QUAD><BLOCK> <BLOCK><LR-QUAD><BLOCK> <LR-QUAD><BLOCK> <BLOCK> <WHITE><PAPER c=1> <GREY><BR>
{% elif 'MSXstd' in mode %}
	{% if scwidth > 29 %}
		{% set n = (scwidth-29)//2 %}
		{% set spc = '<BR><SPC n='+n|string+'>'%}
		{% set br = '<BR>' %}
		<SPC n={{n}}>
	{% else %}
		{% set n = 0 %}
		{% set spc = '' %}
		{% set br = '' %}
	{% endif %}
{{spc}}
<LR-QUAD><BLOCK><LL-QUAD> <TRI-DOWN> <BLOCK> <TRI-DOWN><U-HALF><U-HALF> <L-HALF>   <L-HALF> <TRI-DOWN> <BLOCK> <TRI-DOWN><U-HALF><U-HALF> <TRI-DOWN><U-HALF><LL-QUAD>
{{spc}}
<BLOCK> <BLOCK> <BLOCK><CHR c=1><CHR c=94><BLOCK> <BLOCK><U-HALF>  <BLOCK>   <BLOCK> <BLOCK><CHR c=1><CHR c=94><BLOCK> <BLOCK><U-HALF>  <BLOCK><B-HALF><UL-QUAD>
{{spc}}
<UR-QUAD><BLOCK><UL-QUAD> <BLOCK> <L-HALF> <BLOCK><B-HALF><B-HALF> <BLOCK><B-HALF><B-HALF> <BLOCK> <BLOCK> <L-HALF> <BLOCK><B-HALF><B-HALF> <BLOCK> <CHR c=193>
{{br}}
{% else %}
    {% set title = 'Oneliner' %}
    {% include 'main/menutitle.j2' %}
{% endif%}