{% set lspc=(scwidth-24)//2 %}

{% if 'PET' in mode %}
	<CLR><LOWER><BR>
	<CRSRR n={{lspc}}>                <PURPLE><CHR c=175><CHR c=175><CHR c=175><CHR c=175><CHR c=175><CHR c=175><CHR c=175><BR>
	<CRSRR n={{lspc}}>               <GREY3><RVSON><L-HALF><RVSOFF> <PURPLE>  <RVSON><CHR c=160><CHR c=160><RVSOFF> <RVSON><CHR c=160><RVSOFF><CHR c=180><BR>
	<CRSRR n={{lspc}}>             <GREY3>  <RVSON><L-HALF><RVSOFF> <PURPLE><RVSON><CHR c=160><CHR c=160><RVSOFF> <RVSON><CHR c=160><RVSOFF>  <CHR c=180><BR>
	<CRSRR n={{lspc}}><GREY3><RVSON><L-HALF><RVSOFF>   <RVSON><L-HALF><RVSOFF> <RVSON><UL-LR-QUAD><B-HALF><RVSOFF><UL-LR-QUAD> <L-HALF><RVSON><UL-LR-QUAD><RVSOFF> <RVSON><UL-LR-QUAD><B-HALF><L-HALF><WHITE><RVSOFF> <PURPLE> <RVSON><CHR c=160><CHR c=160><CHR c=160><RED><RVSOFF> <PURPLE><RVSON><CHR c=160><RVSOFF><CHR c=180><BR>
	<CRSRR n={{lspc}}><GREY3><RVSON><L-HALF><RVSOFF> <RVSON><L-HALF><RVSOFF> <RVSON><L-HALF><L-HALF><RVSOFF>   <L-HALF><RVSON><LR-QUAD><WHITE><RVSOFF> <GREY3><RVSON><L-HALF><RVSOFF>  <RVSON><L-HALF><WHITE><RVSOFF> <PURPLE><RVSON><CHR c=160><CHR c=160><RVSOFF> <RVSON><CHR c=160><RED><RVSOFF> <PURPLE><RVSON><CHR c=160><RVSOFF><CHR c=180><BR>
	<CRSRR n={{lspc}}><GREY3><RVSON><L-HALF><RVSOFF> <RVSON><L-HALF><RVSOFF> <RVSON><L-HALF><L-HALF><RVSOFF> <WHITE> <GREY3> <L-HALF><L-HALF><WHITE> <GREY3><RVSON><L-HALF><RVSOFF>  <RVSON><L-HALF><WHITE><RVSOFF> <PURPLE><RVSON><CHR c=160><CHR c=160><RVSOFF> <RVSON><CHR c=160><RVSOFF> <PURPLE><RVSON><CHR c=160><RVSOFF><CHR c=180><BR>
	<CRSRR n={{lspc}}><GREY3> <UL-LR-QUAD><UL-QUAD><UL-LR-QUAD><UL-QUAD> <UL-LR-QUAD><B-HALF><RVSON><UL-LR-QUAD><RVSOFF> <L-HALF><WHITE> <GREY3> <UL-LR-QUAD><B-HALF><RVSON><UL-LR-QUAD><WHITE><RVSOFF> <PURPLE><RVSON><CHR c=160><CHR c=160><RVSOFF> <RVSON><CHR c=160><CHR c=160><RVSOFF> <CHR c=180><BR>
	<CRSRR n={{lspc}}>                <PURPLE><CHR c=183><CHR c=183><CHR c=183><CHR c=183><CHR c=183><CHR c=183><CHR c=183><WHITE><BR>
{% elif 'MSX1' in mode %}
	<CLR><BR>
	<CRSRR n={{lspc}}>                <PURPLE><B-NARROW><B-NARROW><B-NARROW><B-NARROW><B-NARROW><B-NARROW><B-NARROW><BR>
	<CRSRR n={{lspc}}>               <GREY><R-HALF><PURPLE>   <BLOCK><BLOCK> <BLOCK><L-NARROW><BR>
	<CRSRR n={{lspc}}>               <GREY><R-HALF><PURPLE> <BLOCK><BLOCK> <BLOCK>  <L-NARROW><BR>
	<CRSRR n={{lspc}}><GREY><R-HALF>   <R-HALF> <CHR c=199><U-HALF><CHR c=193> <L-HALF><CHR c=199> <GREY><CHR c=199><U-HALF><R-HALF><PURPLE>  <BLOCK><BLOCK><BLOCK> <BLOCK><L-NARROW><BR>
	<CRSRR n={{lspc}}><GREY><R-HALF> <R-HALF> <R-HALF><R-HALF>   <L-HALF><BLACK><PAPER c=14><LR-QUAD><GREY><PAPER c=1> <R-HALF>  <R-HALF><PURPLE> <BLOCK><BLOCK> <BLOCK> <BLOCK><L-NARROW><WHITE><BR>
	<CRSRR n={{lspc}}><GREY><R-HALF> <R-HALF> <R-HALF><R-HALF>   <L-HALF><L-HALF> <R-HALF>  <R-HALF><PURPLE> <BLOCK><BLOCK> <BLOCK> <BLOCK><L-NARROW><BR>
	<CRSRR n={{lspc}}><GREY> <CHR c=193><UL-QUAD><CHR c=193><UL-QUAD> <CHR c=193><B-HALF><CHR c=199> <L-HALF>  <CHR c=193><B-HALF><CHR c=199><PURPLE> <BLOCK><BLOCK> <BLOCK><BLOCK> <L-NARROW><BR>
	<CRSRR n={{lspc}}><GREY>                <PURPLE><U-NARROW><U-NARROW><U-NARROW><U-NARROW><U-NARROW><U-NARROW><U-NARROW><BR>
{% elif mode == 'ANSI' %}
	{% set lspc=(scwidth-45)//2 %}
<CLR>
<CRSRR n={{lspc}}>                              <YELLOW><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><BR>
<CRSRR n={{lspc}}><WHITE>                             <BLOCK>      <YELLOW><BLOCK><BLOCK><BLOCK><BLOCK>  <BLOCK><BLOCK><L-HALF><BR>
<CRSRR n={{lspc}}><WHITE>                             <BLOCK>  <YELLOW><BLOCK><BLOCK><BLOCK><BLOCK>  <BLOCK><BLOCK>    <L-HALF><BR>
<CRSRR n={{lspc}}><WHITE><BLOCK>       <BLOCK>  <B-HALF><U-HALF><U-HALF><U-HALF><U-HALF><B-HALF>  <BLOCK> <B-HALF><U-HALF>  <B-HALF><U-HALF><U-HALF> <BLOCK><YELLOW>    <BLOCK><BLOCK><BLOCK><BLOCK><BLOCK><BLOCK>  <BLOCK><BLOCK><L-HALF><BR>
<CRSRR n={{lspc}}><WHITE><BLOCK>   <BLOCK>   <BLOCK> <BLOCK>      <BLOCK> <BLOCK><U-HALF>   <BLOCK>    <BLOCK><YELLOW>  <BLOCK><BLOCK><BLOCK><BLOCK>  <BLOCK><BLOCK>  <BLOCK><BLOCK><L-HALF><BR>
<CRSRR n={{lspc}}><WHITE><BLOCK>   <BLOCK>   <BLOCK> <BLOCK>      <BLOCK> <BLOCK>    <BLOCK>    <BLOCK><YELLOW>  <BLOCK><BLOCK><BLOCK><BLOCK>  <BLOCK><BLOCK>  <BLOCK><BLOCK><L-HALF><BR>
<CRSRR n={{lspc}}><WHITE> <U-HALF><B-HALF><U-HALF> <U-HALF><B-HALF><U-HALF>   <U-HALF><B-HALF><B-HALF><B-HALF><B-HALF><U-HALF>  <BLOCK>     <U-HALF><B-HALF><B-HALF><B-HALF><U-HALF><YELLOW>  <BLOCK><BLOCK><BLOCK><BLOCK>  <BLOCK><BLOCK><BLOCK><B-HALF>  <L-HALF><BR>
<CRSRR n={{lspc}}>                              <YELLOW><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF><BR>
{% elif mode == 'VidTex' and scwidth == 40 %}
<CLR><BR>
<CRSRR n={{lspc}}>	                <PURPLE><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><BR>
<CRSRR n={{lspc}}>	               <WHITE><R-HALF><PURPLE>   <BLOCK><BLOCK> <BLOCK><L-HALF><BR>
<CRSRR n={{lspc}}>	               <WHITE><R-HALF> <PURPLE><BLOCK><BLOCK> <BLOCK>  <L-HALF><BR>
<CRSRR n={{lspc}}>	<WHITE><R-HALF>   <R-HALF> <UR-LL-QUAD><U-HALF><UL-LR-QUAD> <L-HALF><UR-LL-QUAD> <UR-LL-QUAD><U-HALF><R-HALF>  <PURPLE><BLOCK><BLOCK><BLOCK> <BLOCK><L-HALF><BR>
<CRSRR n={{lspc}}>	<WHITE><R-HALF> <R-HALF> <R-HALF><R-HALF>   <L-HALF><UL-UR-LL-QUAD> <R-HALF>  <R-HALF> <PURPLE><BLOCK><BLOCK> <BLOCK> <BLOCK><L-HALF><BR>
<CRSRR n={{lspc}}>	<WHITE><R-HALF> <R-HALF> <R-HALF><R-HALF>   <L-HALF><L-HALF> <R-HALF>  <R-HALF> <PURPLE><BLOCK><BLOCK> <BLOCK> <BLOCK><L-HALF><BR>
<CRSRR n={{lspc}}>	 <WHITE><UL-LR-QUAD><UL-QUAD><UL-LR-QUAD><UL-QUAD> <UL-LR-QUAD><B-HALF><UR-LL-QUAD> <L-HALF>  <UL-LR-QUAD><B-HALF><UR-LL-QUAD> <PURPLE><BLOCK><BLOCK> <BLOCK><BLOCK> <L-HALF><BR>
<CRSRR n={{lspc}}>	                <PURPLE><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF><BR>
{% endif%}