{# FILEHUNTER plugin menu title template #}
<CLR>
{% if 'MSX1' in mode %}
<INK c=7><CYAN><CHR c=199><CHR c=193><R-HALF> <B-HALF>  <R-HALF><LL-QUAD><LR-QUAD><LR-QUAD><LR-QUAD><LL-QUAD><R-HALF><LL-QUAD><LR-QUAD><LL-QUAD> <B-HALF>  <WHITE><BR>
<BLACK><PAPER c=5><LR-QUAD><LTBLUE><PAPER c=1><LR-QUAD><R-HALF><R-HALF><B-HALF><UL-QUAD><B-HALF><R-HALF><R-HALF><R-HALF><R-HALF><R-HALF><R-HALF><R-HALF> <BLACK><PAPER c=5><UR-QUAD><LTBLUE><PAPER c=1><CHR c=199><R-HALF> <WHITE> <DRED><TRI-LEFT><WHITE> <RED><TRI-LEFT><WHITE> <PINK><TRI-LEFT><WHITE><BR>
<BLUE><L-HALF><R-HALF><R-HALF><UR-QUAD><B-HALF>  <R-HALF><R-HALF><UR-QUAD><BLACK><PAPER c=4><UL-QUAD><BLUE><PAPER c=1><R-HALF><R-HALF><UR-QUAD><LL-QUAD><CHR c=193><LL-QUAD><R-HALF> <WHITE><BR>
{% else %}
    {% set title = 'File-Hunter' %}
    {% include 'main/menutitle.j2' %}
{% endif%}