{# Splash screen template #}
{# Commodore 64 #}
{% if 'PET64' in mode %}
	{% if conn.QueryFeature(129) < 0x80 and conn.QueryFeature(130) < 0x80 and conn.QueryFeature(179) < 0x80 %}
		<SENDBITMAP file='{{conn.bbs.Paths['bbsfiles']}}splash.art' lines=12 display=False>
		<SPLIT row=12 multi=False mode={{mode}}>
		<CLR>
	{% else %}
<TEXT border=0 background=0><CLR><LOWER><LTBLUE> <WHITE>:<LTBLUE>               <WHITE>  <GREY3>.<LTBLUE>                <WHITE>.<LTBLUE><BR>
  <YELLOW>.<LTBLUE> <WHITE><RVSON>  <RVSOFF><LL-QUAD><LTBLUE> <WHITE><RVSON>   <LTBLUE><RVSOFF> <WHITE><RVSON>   <LTBLUE><RVSOFF> <WHITE><RVSON>  <RVSOFF><LL-QUAD><LTBLUE> <WHITE><LR-QUAD><RVSON> <RVSOFF><LL-QUAD><YELLOW>.<LTBLUE> <WHITE><RVSON>  <RVSOFF><LL-QUAD><LTBLUE> <WHITE><RVSON>  <RVSOFF><LL-QUAD><LTBLUE> <WHITE><LR-QUAD><RVSON>  <LTBLUE><RVSOFF>   <WHITE>.
.<LTBLUE>   <WHITE><RVSON> <RVSOFF> <RVSON> <LTBLUE><RVSOFF> <WHITE><RVSON> <LTBLUE><RVSOFF> <WHITE> <LTBLUE> <WHITE> <RVSON> <RVSOFF> <LTBLUE> <WHITE><RVSON> <RVSOFF> <RVSON> <LTBLUE><RVSOFF> <WHITE><RVSON> <LTBLUE><RVSOFF> <WHITE><RVSON> <LTBLUE><RVSOFF>  <WHITE><RVSON> <LTBLUE><RVSOFF> <WHITE><RVSON> <LTBLUE><RVSOFF> <WHITE><RVSON> <LTBLUE><RVSOFF> <WHITE><RVSON> <LTBLUE><RVSOFF> <WHITE><RVSON> <RVSOFF><LL-QUAD> <LTBLUE> <GREY3>.<LTBLUE><BR>
<BLUE><HLINE><HLINE><HLINE><HLINE><WHITE><RVSON>  <RVSOFF><UL-QUAD><BLUE><HLINE><WHITE><RVSON>  <BLUE><RVSOFF><HLINE><HLINE><HLINE><WHITE><RVSON> <BLUE><RVSOFF><HLINE><HLINE><WHITE><RVSON>  <RVSOFF><UL-QUAD><BLUE><HLINE><WHITE><RVSON> <BLUE><RVSOFF><HLINE><WHITE><RVSON> <BLUE><RVSOFF><HLINE><HLINE><WHITE><RVSON>  <BLUE><RVSOFF><HLINE><HLINE><WHITE><RVSON>  <BLUE><RVSOFF><HLINE><HLINE><WHITE><UR-QUAD><RVSON> <RVSOFF><LL-QUAD><BLUE><HLINE><HLINE><HLINE><HLINE>
<LTBLUE><RVSON><HLINE><HLINE><HLINE><HLINE><WHITE> <LTBLUE><HLINE><WHITE> <LTBLUE><HLINE><WHITE> <LTBLUE><HLINE><HLINE><HLINE><HLINE><WHITE> <LTBLUE><HLINE><HLINE><WHITE> <LTBLUE><HLINE><WHITE> <LTBLUE><HLINE><WHITE> <LTBLUE><HLINE><WHITE> <LTBLUE><HLINE><HLINE><WHITE> <LTBLUE><HLINE><WHITE> <LTBLUE><HLINE><WHITE> <LTBLUE><HLINE><WHITE> <LTBLUE><HLINE><HLINE><WHITE><RVSOFF><UR-QUAD><RVSON> <LTBLUE><HLINE>.<HLINE><HLINE>
<LL-QUAD> <GREY1><RVSOFF>.<LTBLUE><RVSON>,<WHITE> <LTBLUE><L-HALF><WHITE> <LTBLUE><UARROW><WHITE>,  <LTBLUE> <RVSOFF><UR-QUAD><WHITE><RVSON> <LTBLUE> <CHR c=170><WHITE> <LTBLUE> <WHITE> <LTBLUE><LEFT-HASH><WHITE><RVSOFF><UR-QUAD><RVSON> <RVSOFF><UL-QUAD><LTBLUE><VLINE><RVSON> <WHITE>  <RVSOFF><UL-QUAD><LTBLUE><RVSON><L-NARROW><WHITE>  <RVSOFF><UL-QUAD><LTBLUE><RVSON> <WHITE> ,<RVSOFF><UL-QUAD><LTBLUE><RVSON> <VLINE> <GREY1><RVSOFF>.
<LTBLUE> <RVSON><LL-QUAD><RVSOFF>  <RVSON><B-HALF><RVSOFF>  <CHR c=165> <RVSON><LR-QUAD><RVSOFF> <RVSON><LR-QUAD><RVSOFF>  <U-NARROW><CHR c=180><UR-QUAD><RVSON><CHR c=175><RVSOFF>   <RVSON><V-RIGHT><RVSOFF> <VLINE><UR-QUAD><UL-QUAD><U-NARROW> <CHR c=163> <RVSON><B-HALF><RVSOFF> <CHR c=183><RVSON><LL-QUAD><RVSOFF>  <RVSON><LL-QUAD><RVSOFF> '<BR>
	{% endif %}
{# Commodore Plus/4 #}
{% elif 'PET264' in mode %}
	{% if conn.QueryFeature(129) < 0x80 and conn.QueryFeature(130) < 0x80 and conn.QueryFeature(179) < 0x80 %}
		<SENDBITMAP file='{{conn.bbs.Paths['bbsfiles']}}splash.boti' lines=12 display=False>
		<SPLIT row=12 multi=False mode={{mode}}>
		<CLR>
	{% else %}
<TEXT border=0 background=0><CLR><LOWER><LTBLUE> <WHITE>:<LTBLUE>               <WHITE>  <GREY3>.<LTBLUE>                <WHITE>.<LTBLUE><BR>
  <YELLOW>.<LTBLUE> <WHITE><RVSON>  <RVSOFF><LL-QUAD><LTBLUE> <WHITE><RVSON>   <LTBLUE><RVSOFF> <WHITE><RVSON>   <LTBLUE><RVSOFF> <WHITE><RVSON>  <RVSOFF><LL-QUAD><LTBLUE> <WHITE><LR-QUAD><RVSON> <RVSOFF><LL-QUAD><YELLOW>.<LTBLUE> <WHITE><RVSON>  <RVSOFF><LL-QUAD><LTBLUE> <WHITE><RVSON>  <RVSOFF><LL-QUAD><LTBLUE> <WHITE><LR-QUAD><RVSON>  <LTBLUE><RVSOFF>   <WHITE>.
.<LTBLUE>   <WHITE><RVSON> <RVSOFF> <RVSON> <LTBLUE><RVSOFF> <WHITE><RVSON> <LTBLUE><RVSOFF> <WHITE> <LTBLUE> <WHITE> <RVSON> <RVSOFF> <LTBLUE> <WHITE><RVSON> <RVSOFF> <RVSON> <LTBLUE><RVSOFF> <WHITE><RVSON> <LTBLUE><RVSOFF> <WHITE><RVSON> <LTBLUE><RVSOFF>  <WHITE><RVSON> <LTBLUE><RVSOFF> <WHITE><RVSON> <LTBLUE><RVSOFF> <WHITE><RVSON> <LTBLUE><RVSOFF> <WHITE><RVSON> <LTBLUE><RVSOFF> <WHITE><RVSON> <RVSOFF><LL-QUAD> <LTBLUE> <GREY3>.<LTBLUE><BR>
<BLUE><HLINE><HLINE><HLINE><HLINE><WHITE><RVSON>  <RVSOFF><UL-QUAD><BLUE><HLINE><WHITE><RVSON>  <BLUE><RVSOFF><HLINE><HLINE><HLINE><WHITE><RVSON> <BLUE><RVSOFF><HLINE><HLINE><WHITE><RVSON>  <RVSOFF><UL-QUAD><BLUE><HLINE><WHITE><RVSON> <BLUE><RVSOFF><HLINE><WHITE><RVSON> <BLUE><RVSOFF><HLINE><HLINE><WHITE><RVSON>  <BLUE><RVSOFF><HLINE><HLINE><WHITE><RVSON>  <BLUE><RVSOFF><HLINE><HLINE><WHITE><UR-QUAD><RVSON> <RVSOFF><LL-QUAD><BLUE><HLINE><HLINE><HLINE><HLINE>
<LTBLUE><RVSON><HLINE><HLINE><HLINE><HLINE><WHITE> <LTBLUE><HLINE><WHITE> <LTBLUE><HLINE><WHITE> <LTBLUE><HLINE><HLINE><HLINE><HLINE><WHITE> <LTBLUE><HLINE><HLINE><WHITE> <LTBLUE><HLINE><WHITE> <LTBLUE><HLINE><WHITE> <LTBLUE><HLINE><WHITE> <LTBLUE><HLINE><HLINE><WHITE> <LTBLUE><HLINE><WHITE> <LTBLUE><HLINE><WHITE> <LTBLUE><HLINE><WHITE> <LTBLUE><HLINE><HLINE><WHITE><RVSOFF><UR-QUAD><RVSON> <LTBLUE><HLINE>.<HLINE><HLINE>
<LL-QUAD> <GREY1><RVSOFF>.<LTBLUE><RVSON>,<WHITE> <LTBLUE><L-HALF><WHITE> <LTBLUE><UARROW><WHITE>,  <LTBLUE> <RVSOFF><UR-QUAD><WHITE><RVSON> <LTBLUE> <CHR c=170><WHITE> <LTBLUE> <WHITE> <LTBLUE><LEFT-HASH><WHITE><RVSOFF><UR-QUAD><RVSON> <RVSOFF><UL-QUAD><LTBLUE><VLINE><RVSON> <WHITE>  <RVSOFF><UL-QUAD><LTBLUE><RVSON><L-NARROW><WHITE>  <RVSOFF><UL-QUAD><LTBLUE><RVSON> <WHITE> ,<RVSOFF><UL-QUAD><LTBLUE><RVSON> <VLINE> <GREY1><RVSOFF>.
<LTBLUE> <RVSON><LL-QUAD><RVSOFF>  <RVSON><B-HALF><RVSOFF>  <CHR c=165> <RVSON><LR-QUAD><RVSOFF> <RVSON><LR-QUAD><RVSOFF>  <U-NARROW><CHR c=180><UR-QUAD><RVSON><CHR c=175><RVSOFF>   <RVSON><V-RIGHT><RVSOFF> <VLINE><UR-QUAD><UL-QUAD><U-NARROW> <CHR c=163> <RVSON><B-HALF><RVSOFF> <CHR c=183><RVSON><LL-QUAD><RVSOFF>  <RVSON><LL-QUAD><RVSOFF> '<BR>
	{%endif%}
{# MSX retroterm #}
{% elif 'MSX1' in mode %}
	{% if conn.QueryFeature(129) < 0x80 and conn.QueryFeature(130) < 0x80 and conn.QueryFeature(179) < 0x80 %}
		<SENDBITMAP file='{{conn.bbs.Paths['bbsfiles']}}splash.sc2' lines=12 display=False>
		<SPLIT row=12 multi=False mode={{mode}}>
		<CLR>
	{% else %}
<TEXT border=1 background=1><INK c=11><CLR><LTYELLOW><PAPER c=4><CHR c=250><BLUE><PAPER c=1><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><GREY><PAPER c=4><CHR c=1><CHR c=71><BLUE><PAPER c=1><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><LTYELLOW><PAPER c=4><CHR c=250><BLUE><PAPER c=1><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF>
<B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><WHITE><PAPER c=4><CHR c=1><CHR c=79><BLUE><PAPER c=1><B-HALF><B-HALF><B-HALF><B-HALF><LTYELLOW><PAPER c=4><CHR c=250><BLUE><PAPER c=1><B-HALF><B-HALF><B-HALF><B-HALF><WHITE><PAPER c=4><CHR c=250><BLUE><PAPER c=1><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><LTYELLOW><PAPER c=4>:<BLUE><PAPER c=1><B-HALF><B-HALF><B-HALF><B-HALF><WHITE><PAPER c=4><CHR c=250><BLUE><PAPER c=1><B-HALF><WHITE><PAPER c=4><CHR c=1><CHR c=71><BLUE><PAPER c=1><B-HALF>
<B-HALF><WHITE><PAPER c=4><CHR c=1><CHR c=71><BLUE><PAPER c=1><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><WHITE><PAPER c=4>:<BLUE><PAPER c=1><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF>
<WHITE><B-HALF><B-HALF><BLUE><PAPER c=15><CHR c=1><CHR c=96><PAPER c=1><B-HALF><WHITE><B-HALF><B-HALF><B-HALF><BLUE><B-HALF><WHITE><PAPER c=5><B-HALF><B-HALF><B-HALF><BLUE><PAPER c=1><B-HALF><WHITE><B-HALF><B-HALF><BLUE><PAPER c=15><CHR c=1><CHR c=96><PAPER c=1><B-HALF><WHITE><PAPER c=4><CHR c=1><CHR c=97><PAPER c=1><B-HALF><BLUE><PAPER c=15><CHR c=1><CHR c=96><PAPER c=1><B-HALF><B-HALF><WHITE><B-HALF><B-HALF><BLUE><PAPER c=15><CHR c=1><CHR c=96><PAPER c=1><B-HALF><WHITE><B-HALF><B-HALF><BLUE><PAPER c=15><CHR c=1><CHR c=96><PAPER c=1><B-HALF><WHITE><PAPER c=4><CHR c=1><CHR c=97><B-HALF><B-HALF>
<PAPER c=1><B-HALF><BLUE><B-HALF><WHITE><B-HALF><BLUE><B-HALF><WHITE><B-HALF><BLUE><B-HALF><B-HALF><B-HALF><WHITE><PAPER c=4> <PAPER c=5><B-HALF><PAPER c=4> <BLUE><PAPER c=1><B-HALF><WHITE><B-HALF><BLUE><B-HALF><WHITE><B-HALF><BLUE><B-HALF><WHITE><B-HALF><BLUE><B-HALF><WHITE><B-HALF><BLUE><B-HALF><B-HALF><WHITE><B-HALF><BLUE><B-HALF><WHITE><B-HALF><BLUE><B-HALF><WHITE><B-HALF><BLUE><B-HALF><WHITE><B-HALF><BLUE><B-HALF><WHITE><B-HALF><BLUE><PAPER c=15><CHR c=1><CHR c=96><WHITE><PAPER c=4> 
<PAPER c=1><B-HALF><B-HALF><BLUE><PAPER c=15><TRI-RIGHT><PAPER c=1><B-HALF><WHITE><B-HALF><B-HALF><B-HALF><BLUE><B-HALF><WHITE><PAPER c=4> <PAPER c=5><B-HALF><PAPER c=4> <BLUE><PAPER c=1><B-HALF><WHITE><B-HALF><B-HALF><BLUE><PAPER c=15><TRI-RIGHT><BLACK><PAPER c=4><CHR c=173><WHITE><PAPER c=1><B-HALF><BLUE><B-HALF><WHITE><B-HALF><BLUE><B-HALF><B-HALF><WHITE><B-HALF><B-HALF><BLUE><PAPER c=15><TRI-RIGHT><PAPER c=1><B-HALF><WHITE><B-HALF><B-HALF><BLUE><PAPER c=15><TRI-RIGHT><PAPER c=1><B-HALF><WHITE><PAPER c=4><CHR c=1><CHR c=96><B-HALF><BLUE><PAPER c=15><CHR c=1><CHR c=96>
<WHITE><PAPER c=1><B-HALF><BLUE><PAPER c=5><CHR c=203><WHITE><PAPER c=1><B-HALF><BLACK><PAPER c=7><B-HALF><WHITE><PAPER c=1><LR-QUAD><BLUE><PAPER c=5><CHR c=203><CHR c=203><BLACK><PAPER c=15><B-HALF><BLUE><PAPER c=5><CHR c=203><WHITE><B-HALF><BLUE><CHR c=203><CHR c=203><WHITE><PAPER c=1><B-HALF><BLACK><PAPER c=5>,<WHITE><PAPER c=1><B-HALF><LTBLUE><R-NARROW><WHITE><B-HALF><BLUE><PAPER c=5><CHR c=203><WHITE><PAPER c=1><B-HALF><BLUE><PAPER c=5><CHR c=203><BLACK><CHR c=221><BLUE><PAPER c=1> <PAPER c=5><CHR c=203><WHITE><PAPER c=1><B-HALF><BLUE><PAPER c=5><CHR c=203><BLACK><PAPER c=15><L-HALF><BLUE><PAPER c=5><CHR c=203><BLACK><PAPER c=15><LR-QUAD><PAPER c=5><CHR c=244><BLUE><CHR c=203><CHR c=203><PAPER c=15> 
<BLACK><LR-QUAD><LTBLUE><PAPER c=1><TRI-UP><WHITE><R-NARROW>   <CHR c=221>   <LTBLUE><CHR c=221><WHITE> <PAPER c=15><B-HALF><PAPER c=1> <BLACK><PAPER c=15><LR-QUAD><WHITE><PAPER c=1> <CHR c=1><CHR c=96><B-HALF><BLACK><PAPER c=15><L-HALF><WHITE><PAPER c=1>   <B-HALF><UL-QUAD>  <CHR c=202>  <B-HALF><BLUE><PAPER c=15> <BLACK><CHR c=1><CHR c=97>
<LTYELLOW><PAPER c=1><BR>
	{% endif %}
{# Standard MSX #}
{% elif 'MSX' in mode %}
	<CLR>
	{% if scwidth > 29 %}
		{% set n = (scwidth-29)//2 %}
		{% set spc = '<BR><SPC n='+n|string+'>'%}
		{% set br = '' %}
		<SPC n={{n}}>
	{% else %}
		{% set n = 0 %}
		{% set spc = '' %}
		{% set br = '<BR>' %}
	{% endif %}
<B-NARROW><B-NARROW><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-HALF><B-NARROW><B-NARROW>
{{spc}}
{{br}}
{{spc}}
  <BLOCK><BLOCK> <CHR c=202><BLOCK><CHR c=202><BLOCK><CHR c=200><BLOCK><BLOCK>  <BLOCK>  <CHR c=202><BLOCK> <CHR c=202><BLOCK>  <BLOCK><L-HALF><TRI-LEFT><TRI-LEFT>
{{br}}
{{spc}}
  <BLOCK> <BLOCK><CHR c=202>  <BLOCK> <BLOCK> <BLOCK><CHR c=202> <CHR c=200> <CHR c=202> <CHR c=200><CHR c=202> <CHR c=200><CHR c=202>
{{br}}
{{spc}}
  <BLOCK><BLOCK> <CHR c=202><BLOCK> <BLOCK> <BLOCK><BLOCK> <CHR c=202> <CHR c=200> <CHR c=202><BLOCK> <CHR c=202><BLOCK>  <BLOCK>
{{br}}
{{spc}}
  <BLOCK> <BLOCK><CHR c=202>  <BLOCK> <BLOCK> <BLOCK><CHR c=202> <CHR c=200> <CHR c=202> <CHR c=200><CHR c=202> <CHR c=200>  <BLOCK>
{{br}}
{{spc}}
  <BLOCK> <BLOCK><CHR c=202><BLOCK> <BLOCK> <BLOCK> <BLOCK> <BLOCK>  <CHR c=202><BLOCK> <CHR c=202><BLOCK> <BLOCK><BLOCK>
{{br}}
{{spc}}
{{br}}
{{spc}}
<U-NARROW><U-NARROW><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF><U-NARROW><U-NARROW><BR>
{# VidtTex 40 columns #}
{% elif mode == 'VidTex' and scwidth == 40 %}
<TEXT border=0 background=8><CLR><CYAN>\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
<BR><BR>
   <PURPLE><R-HALF><BLOCK><UL-LL-LR-QUAD>  <GREEN> <PURPLE><BLOCK><BLOCK><L-HALF><R-HALF><BLOCK><BLOCK><BLOCK> <BLOCK><BLOCK><LL-QUAD>  <LL-LR-UR-QUAD><BLOCK><LL-QUAD> <R-HALF><BLOCK><L-HALF> <R-HALF><BLOCK><L-HALF><LR-QUAD><BLOCK><BLOCK><L-HALF><L-HALF><L-HALF><L-HALF>
<CYAN>   <BLOCK> <BLOCK>  <R-HALF><L-HALF>   <R-HALF><L-HALF> <R-HALF><L-HALF><R-HALF><L-HALF> <LL-LR-UR-QUAD><UL-QUAD><BLOCK><L-HALF> <BLOCK> <BLOCK> <BLOCK> <BLOCK><R-HALF><L-HALF><BR>
  <R-HALF><BLOCK><BLOCK><UL-QUAD>  <BLOCK><BLOCK>   <BLOCK>  <BLOCK><BLOCK><UL-UR-LL-QUAD> <R-HALF><L-HALF> <BLOCK> <R-HALF><BLOCK><BLOCK><UL-QUAD><R-HALF><BLOCK><BLOCK><UL-QUAD> <UL-UR-LR-QUAD><UL-LL-LR-QUAD><BR>
<BLUE>  <BLOCK><UR-QUAD><BLOCK><LL-QUAD> <R-HALF><L-HALF>   <R-HALF><L-HALF> <R-HALF><L-HALF><UL-UR-LR-QUAD><UL-LL-LR-QUAD> <BLOCK><L-HALF><LL-LR-UR-QUAD><UL-QUAD><GREEN> <BLUE><BLOCK> <BLOCK> <BLOCK> <BLOCK>  <LR-QUAD><BLOCK><BR>
 <R-HALF><L-HALF> <UR-QUAD><BLOCK> <BLOCK><BLOCK><BLOCK>  <BLOCK>  <BLOCK>  <UL-UR-LR-QUAD><L-HALF><UL-UR-LR-QUAD><BLOCK><UL-QUAD> <R-HALF><BLOCK><BLOCK><UL-QUAD><R-HALF><BLOCK><BLOCK> <R-HALF><BLOCK><BLOCK><UL-QUAD><BR>
<BR>
<CYAN>\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\<BR><BR>
{% else %}
	<CLR>
	{% if scwidth > 29 %}
		{% set n = (scwidth-29)//2 %}
		{% set spc = '<BR><SPC n='+n|string+'>'%}
		{% set br = '' %}
		<SPC n={{n}}>
	{% else %}
		{% set n = 0 %}
		{% set spc = '' %}
		{% set br = '<BR>' %}
	{% endif %}
<BLUE> ---------------------------
{{br}}
{{spc}}
!<WHITE> _  _ ___ _      <YELLOW>__ __   __<BLUE>!
{{spc}}
!<WHITE>| \/ \ | | \ /\  <YELLOW>|_\|_\ /_/<BLUE>!
{{spc}}
!<WHITE>|//|-  | |////\\ <YELLOW>|_||_| \\ <BLUE>!
{{spc}}
!<WHITE>|\\\_/ | |\\\__/<YELLOW> __/__//_/ <BLUE>!
{{spc}}
!                           !
{{spc}}
 ---------------------------<BR>
{% endif %}
