{% if 'PET' in mode and 'PET20' not in mode %}
	{% set spc = (scwidth-28)//2 %}
	<WHITE><SPC n={{spc}}><BOTTOM-HASH n=11><GREEN><LR-QUAD> <LR-QUAD><LTGREEN><LR-QUAD>     <LL-QUAD><LL-QUAD> <YELLOW><B-HALF> <WHITE><BOTTOM-HASH n=11><BR>
	<GREY3><SPC n={{spc}}> <BOTTOM-HASH n=10><GREEN><RVSON><L-HALF><RVSOFF><UL-LR-QUAD><RVSON><LL-QUAD><RVSOFF><LTGREEN><LR-QUAD> <RVSON><LR-QUAD><RVSOFF><UL-LR-QUAD><LR-QUAD><RVSON><B-HALF><RVSOFF><L-HALF><L-HALF><YELLOW><RVSON><L-HALF><RVSOFF><B-HALF><L-HALF><GREY3><BOTTOM-HASH n=10><BR>
	<GREY2><SPC n={{spc}}>  <BOTTOM-HASH n=9><GREEN><RVSON><L-HALF><CRSRR><L-HALF><LTGREEN><L-HALF><RVSOFF><LL-QUAD><L-HALF><RVSON><L-HALF><RVSOFF><UR-QUAD><B-HALF><L-HALF><RVSON><UR-QUAD><RVSOFF><YELLOW><UR-QUAD><B-HALF><LL-QUAD><GREY2><BOTTOM-HASH n=9><BR>
{% elif 'MSX' in mode %}
	<PINK>  <LL-QUAD><B-HALF N=6><DGREEN><LR-QUAD> <LR-QUAD><GREEN><LR-QUAD>     <LL-QUAD><LL-QUAD> <YELLOW><B-HALF><PINK> <B-HALF N=6><LR-QUAD><BR>
	<RED>   <LL-QUAD><B-HALF N=5><DGREEN><RVSON><L-HALF><RVSOFF><UL-LR-QUAD><RVSON><LL-QUAD><RVSOFF><GREEN><LR-QUAD> <RVSON><LR-QUAD><RVSOFF><UL-LR-QUAD><LR-QUAD><RVSON><B-HALF><RVSOFF><L-HALF><L-HALF><YELLOW><RVSON><L-HALF><RVSOFF><B-HALF><L-HALF><RED><B-HALF N=5><LR-QUAD><BR>
	<DRED>    <LL-QUAD><B-HALF N=4><DGREEN><RVSON><L-HALF><CRSRR><L-HALF><GREEN><L-HALF><RVSOFF><LL-QUAD><L-HALF><RVSON><L-HALF><RVSOFF><UR-QUAD><B-HALF><L-HALF><RVSON><UR-QUAD><RVSOFF><YELLOW><UR-QUAD><B-HALF><LL-QUAD><DRED><B-HALF N=4><LR-QUAD><BR>
{% elif 'VidTex' in mode %}
	{% set spc = (scwidth-28)//2 %}
	<RED><SPC n={{spc}}><LL-QUAD><B-HALF N=6><BLUE><LR-QUAD> <LR-QUAD><GREEN><LR-QUAD>     <LL-QUAD><LL-QUAD> <YELLOW><B-HALF><RED> <B-HALF N=6><LR-QUAD><BR>
	<ORANGE><SPC n={{spc}}> <LL-QUAD><B-HALF N=5><BLUE><R-HALF><UL-LR-QUAD><RVSON><UL-UR-LR-QUAD><GREEN><LR-QUAD> <UL-UR-LL-QUAD><UL-LR-QUAD><LR-QUAD><U-HALF><L-HALF><L-HALF><YELLOW><R-HALF><B-HALF><L-HALF><ORANGE><B-HALF N=5><LR-QUAD><BR>
	<RED><SPC n={{spc}}>  <LL-QUAD><B-HALF N=4><BLUE><R-HALF><CRSRR><R-HALF><GREEN><R-HALF><LL-QUAD><L-HALF><R-HALF><UR-QUAD><B-HALF><L-HALF><UL-LL-LR-QUAD><YELLOW><UR-QUAD><B-HALF><LL-QUAD><RED><B-HALF N=4><LR-QUAD><BR>

{% elif 'ANSI' in mode %}
	{% set spc = (scwidth-40)//2 %}
	{% if spc > 0 %}
		{% set br='<BR>' %}
	{% else %}
		{% set br='' %}
	{% endif %}
	<SPC n={{spc}}><DRED><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF> <GREEN><BLOCK><B-HALF> <B-HALF><BLOCK> <LTGREEN><U-HALF>  <B-HALF><B-HALF><B-HALF>   <B-HALF><B-HALF><BLOCK> <BLOCK>  <YELLOW><B-HALF><U-HALF><U-HALF><B-HALF><WHITE> <DRED><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF>{{br}}
	<SPC n={{spc}}> <RED><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF> <GREEN><BLOCK> <U-HALF> <BLOCK> <LTGREEN><BLOCK>  <BLOCK>  <BLOCK> <BLOCK>  <BLOCK> <BLOCK>  <YELLOW><BLOCK><U-HALF><U-HALF><U-HALF> <RED><U-HALF><U-HALF><U-HALF><U-HALF><U-HALF><BR>
	<SPC n={{spc}}>  <DYELLOW><U-HALF><U-HALF><U-HALF><U-HALF> <GREEN><U-HALF>   <U-HALF> <LTGREEN><U-HALF><U-HALF> <U-HALF>  <U-HALF>  <U-HALF><U-HALF><U-HALF> <U-HALF><U-HALF>  <YELLOW><U-HALF><U-HALF><U-HALF><WHITE> <DYELLOW><U-HALF><U-HALF><U-HALF><U-HALF><BR>
{% else %}
	{% set spc = (scwidth-24)//2 %}
	<BLACK>
	<SPC n={{spc}}>*   * * ** * **  *   ***<BR>
	<SPC n={{spc}}>** ** * * ** * * *   **<BR>
	<SPC n={{spc}}>* * * * *  * **  *** ***<BR>
{% endif %}